body {
    background-color: cornflowerblue;
}
.copy {
    color: aquamarine;
}.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 50px;
    background-color: darkorange;
}
 
.nav {
    list-style:none;
    text-align:center;
}
 
.nav li {
    display:inline;
    margin-right: 20px;
}
